---
title: "Mail d'info de demande d'inscription"
preheader: "Please confirm your email address in order to activate your account."
bodyClass: bg-slate-50
---

<x-main>

    <div class="bg-gray-900  sm:px-4 font-sans">

        <table align="center" class=" p-6  w-3/5">
            <tr>
                <td class="w-[552px] max-w-full">

                    <table class="w-full">
                        <tr>

                            <td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
                                <div class="mb-10 text-center">
                                    <img src="images/emails/logo.jpeg" class="w-17 object-cover  h-12 rounded-full" />
                                    <h2 class="font-semibold  md:order-0 ">
                                        Sama pharmacovigile
                                    </h2>
                                </div>
                                <span class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
                                    Cher/Chère @{{$data["nom"]}},
                                </span>

                                <x-spacer height="15px" />
                                <p class="m-0 leading-6">
                                    Nous avons bien reçu votre demande d'inscription sur notre plateforme de
                                    pharmacovigilance, et nous vous remercions de l'intérêt que vous portez à notre
                                    service.
                                </p>

                                <x-spacer height="24px" />


                                <span class="m-0 mb-6 text-base sm:leading-8 text-black font-semibold">
                                    Prochaines Étapes
                                </span>
                                <x-spacer height="10px" />

                                <span class="m-0 leading-6">
                                    <ul>
                                        <li>
                                            Examen de votre demande : Notre équipe vérifiera les informations fournies.
                            
                                        <li>
                                            Confirmation : Vous recevrez un email de validation une fois votre
                                            inscription approuvée.</li>
                                    </ul>
                                </span>



                                <x-divider space-y="32px" class="bg-slate-200" />


                                <p class="m-0">
                                    Cordialement,
                                    <br>
                                    Le service Support de Sama pharmacovigile
                                </p>
                            </td>
                        </tr>
                        <tr role="separator">
                            <td class="leading-12">&zwj;</td>
                        </tr>



                    </table>
                </td>
            </tr>
        </table>
    </div>

</x-main>